*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}
.continer{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.continer .ring{
    position: relative;
    width: 150px;
    height: 150px;
    margin: -30px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top: 4px solid #24ecff;
    animation: animate 2s linear infinite;

}
@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}

.continer .ring::before{
    content: '';
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #24ecff;
    box-shadow: 0 0 0 5px #24ecff33,
    0 0 0 10px #24ecff22,
    0 0 0 20px #24ecff11,
    0 0  20px #24ecff,
    0 0 50px #24ecff;

}



.continer .ring:nth-child(2){
    animation: animate2 2s linear infinite;
    animation-delay: -1s;
    border-top: 4px solid transparent;
    border-left: 4px solid #de143d;
}
.continer .ring:nth-child(2)::before{
    content: '';
    position: absolute;
    top: initial;
    left: 12px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: #de143d;
    box-shadow: 0 0 0 5px #de143d33,
    0 0 0 10px #de143d22,
    0 0 0 20px #de143d11,
    0 0  20px #de143d,
    0 0 50px #de143d;

}

@keyframes animate2{
    0%{
        transform: rotate(360deg);
    }
    
    100%{
        transform: rotate(0deg);
    }
}
.continer .ring:nth-child(3)
{
    animation: animate2 2s linear infinite;
    animation-delay: -3s;
    position: absolute;
    top: -66.66px;
}
.continer p{
    position: absolute;
    color: #fff;
    font-size: 1.5em;
    font-family: consolas;
    bottom: -80px;
    letter-spacing: 0.15em;
}